html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Loyalty free background pattern */
    
    font-family: 'Coda', cursive;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Kokoro', serif;
    font-weight: bold;
    margin-bottom: 0;
}

h2{
    margin-top: 0;
    font-weight: lighter;
}

/*
 * Styles for the deck of cards
 */ 

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #30728D 0%, #7EA5B1 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",Verdana,Arial,Helvetica, sans-serif;
    font-weight: 500;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #364477;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: transform 0.8s;
    transition-timing-function: ease-out;
    transform-style: preserve-3d;

}

.deck .card.open {
    transform: rotateY(0);
    background: white;
    opacity: 0.9;
    color: #900001;
    cursor: default;
    font-size: 33px;

}


.deck .card.match {
    cursor: default;
    background: #900001;
    font-size: 33px;
    color: white;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: flex;
    flex-direction: row;

    width: 560px;
    margin-bottom: 10px;
}

.stars{
    flex: 1 0 0;
}

.moves{
    flex: 1 0 0;
}

.restart{
    flex: 1 0 0;
}

.timer{

    flex: 1 0 0;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .fa-redo {
    float: right;
    cursor: pointer;
}



li{
    list-style: none;
}

.fa-star{
    color: #364477;
}

.game-over{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 660px;
    height: 680px;
    background: rgba(220, 239, 244, 0.54);
    font-size: 4em;
    font-weight: bold;
    z-index: 9999;
    color: #364477;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}

.btn-try-again{
    background: #30728D;
    text-decoration: none;
    display: inline-block;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 3px;
    padding: 0 20px;
}

.you-win{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 660px;
    height: 680px;
    background: rgba(220, 239, 244, 0.54);
    font-size: 4em;
    font-weight: bold;
    z-index: 9999;
    
    font-family: Arial, sans-serif;
    border-radius: 10px;
    color: #f9f6f2;
}

.winner-comment{
    color: #364477;
    font-size: 18px;
    font-weight: normal;
    border-radius: 3px;
    padding: 0 20px;
}

.timer{
    display: flex;
    flex-direction: row;
}



@media screen and (max-width: 699px) {
    .deck{
        background: grey;
        width: 290px;
        min-height: 290px;
        padding: 15px;
    }

    .deck .card{
        width: 57px;
        height: 57px;
    }

    .deck .card.open{
        font-size: 1.5em;
        font-weight: bold;
    }

    .you-win{
        width: 290px;
        height: 290px;
        font-size: 3em;
    }

    .winner-comment{
        font-size: 15px;
    }

    .game-over{
        width: 290px;
        height: 290px;
        font-size: 2.5em;
    }

    .score-panel{
        width: 260px;
    }

    .score-panel .stars{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .score-panel .stars li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .fa-star{
        font-size: 0.7em;
    }

    .moves{
        font-size: 0.8em;
        display: flex;
        align-items: center ;
        justify-content: flex-start;
    }
    


    .timer{
        font-size: 0.8em;
        display: flex;
        align-items: center ;
        justify-content: flex-start;
    }

    .fa-redo{
        font-size: 0.8em;
    }

    .restart{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .btn-try-again{
        
        height: 35px;
        line-height: 37px;
        font-size: 16px;
        font-weight: lighter;
        border-radius: 3px;
        padding: 0 20px;
    }
}



@media screen and (min-width: 700px) and (max-width: 1099px) {
    .deck{
        background: gold;
        width: 570px;
        min-height: 570px;
        padding: 25px;
    }

    .deck .card{
        width: 110px;
        height: 110px;
    }

    .you-win{
        width: 570px;
        height: 570px;
    }

    .game-over{
        width: 570px;
        height: 570px;
    }

    .score-panel{
        width: 460px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1440px) {
    .deck{
        background: red;
        width: 570px;
        min-height: 570px;
    }

    .deck .card{
        width: 110px;
        height: 110px;
    }

    .you-win{
        width: 570px;
        height: 570px;
    }

    .game-over{
        width: 570px;
        height: 570px;
    }

    .score-panel{
        width: 460px;
    }
}


@media screen and (min-width: 1440px) and (max-width: 1670px) {
    .deck{
        background: pink;
        width: 600px;
        min-height: 600px;
    }

    .deck .card{
        width: 110px;
        height: 110px;
    }

    .you-win{
        width: 600px;
        height: 600px;
    }

    .game-over{
        width: 600px;
        height: 600px;
    }

  
}